alabaster==0.7.12
appdirs==1.4.4
Babel==2.9.1
beautifulsoup4==4.10.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==7.1.2
colorclass==2.2.2
docutils==0.17.1
esbonio==0.10.2
furo==2022.3.4
html2text==2020.1.16
idna==3.3
imagesize==1.3.0
importlib-metadata==4.11.3
Jinja2==3.1.1
MarkupSafe==2.1.1
md-click==1.0.1
packaging==21.3
pydantic==1.8.2
pydash==5.1.0
pygls==0.11.3
Pygments==2.11.2
pyparsing==3.0.7
pyspellchecker==0.6.3
pytz==2022.1
requests==2.27.1
snowballstemmer==2.2.0
soupsieve==2.3.1
Sphinx==4.5.0
sphinx-autodoc-typehints==1.17.0
sphinx-click==3.1.0
sphinx-markdown-builder==0.5.5
sphinx-multiversion==0.2.4
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-restbuilder==0.3
sphinxcontrib-serializinghtml==1.1.5
typeguard==2.13.3
typing_extensions==4.1.1
unify==0.5
untokenize==0.1.1
urllib3==1.26.9
yapf==0.32.0
zipp==3.7.0
